@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(135deg, #1a0b19, #150d2d, #162134) !important;
    color: white !important;
    overflow-x: hidden !important;
    width: 100vw !important;

}


.card{
    background-color: #0c071b;
    border-radius: 8px;
    box-shadow: rgba rgba(215, 106, 255, 0.507) 0px 0px 20px;
    padding: 1rem;  
    
}